:root {
  --main-color: #db0000;
  --sub-color: #000000;
  --contrast-color: #ffffff;
}

*,
p {
  box-sizing: border-box;
  font-family: "Lucida Console", "Courier New", monospace;
  color: #0f0f0f;
}

body {
  padding: 2rem;
  text-align: center;
}

.main-container {
  max-width: 340px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  margin: 0 auto;
}

header {
  padding-top: 3rem;
}

/* gauge-bar */
.gauge-bar {
  background: #f1f1f1;
  display: block;
  height: 6px;
  overflow: hidden;
  max-width: 300px;
  margin: 0 auto;
}

.gauge-bar span {
  height: 6px;
  float: left;
  background: var(--main-color);
}

.gauge {
  transition: width 1s;
  width: 0;
}

/* carousel */
.carousel {
  flex: 0 0 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  margin-top: 2rem;
  padding-top: 3rem;
}

.carousel .slide,
.carousel .slide-hidden {
  display: none;
}

.carousel .slide-visible {
  display: block;
  animation: fadeVisibility 2s;
}

@keyframes fadeVisibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: opacity linear;
  }
}

/* .question-container */
.question-container {
  height: 200px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;

  padding: 0 2rem;
}

.slide span img {
  width: 40px;
  height: 40px;
}

.question-text {
  padding-top: 20px;

  font-size: 16px;
  line-height: 30px;
}

/* answer-container */
.answer-container {
  padding-top: 2rem;
}

button {
  display: block;
  width: 100%;
  height: 100px;

  color: var(--main-color);
  border: 2px solid var(--main-color);
  background-color: var(--contrast-color);
  border-radius: 8px;

  margin: 2rem 0;
  padding: 0 2rem;

  font-size: 14px;
  font-weight: 700;
  line-height: 24px;

  transition: 0.2s;
  cursor: pointer;
}

button:hover {
  background-color: var(--main-color);
  color: var(--contrast-color);
}
